
@{
    ViewData["Title"] = "Index";
}


<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd">
    <a asp-action="Index" class="nav-link">Home</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a asp-action="Register" class="nav-link">Rejestracja</a>
                @*  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
            </li>
            <li class="nav-item active">
                <a asp-action="Login" class="nav-link">Login</a>
                @*  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
            </li>
            <li class="nav-link active">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Rezerwacja Sali", "Index", "Rent")

            }
            
        </ul>
        
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Logout" class="magin-right">Logout</a>
        }
       
        @if (User.Identity.IsAuthenticated)
        {
            <div class="magin-right">Użytkownik Zalogowany.</div>
        }
        else
        {
            <div class="magin-right">Użytkownik Niezalogowany.</div>
        }

    </div>
</nav>







