@model RentRoom.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "Login";
}


<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd">
    <a asp-action="Index" class="nav-link">Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a asp-action="Register" class="nav-link">Rejestracja</a>
                @*  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
            </li>
           
            <li class="nav-link active">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Rezerwacja Sali", "Index", "Rent")

                }
           </li>

        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Logout" class="magin-right">Logout</a>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <div class="magin-right">Użytkownik Zalogowany.</div>
        }
        else
        {
            <div class="magin-right">Użytkownik Niezalogowany.</div>
        }

    </div>
</nav>

<form asp-action="Login">
    <div class="magin-left">

        <div class="form-group col-md-6">
            <label asp-for="Login"></label>
            <input asp-for="Login" class="form-control" placeholder="Login" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

    <div class="form-group col-md-6">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="checkbox">
        <label>
            <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
        </label>
        <p></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-default" />
       
    </div>
    
    </div>

</form>

   