
@{
    ViewData["Title"] = "ViewTableOfWeek";
}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
    </thead>
</table>

<script src="js/VievTableOfWeek.js" type = "text/javascript"></script>
</body>
<h2>ViewTableOfWeek</h2>

